@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #e5e5e5;
}

button{
    padding: 15px 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #fca311;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 30px;
    transition: 0.2s;

}

button:hover{
    background-color: #FDC05E;
    color: #fff;
}

.seeMore{
    color: #fff;
    text-decoration: none;
} 

.seeMore:hover{
    color: #fff;
}

.cv-card{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.cv-contenedor{
    border: 2px solid #222;
    width: 50%;
}

#cv-titulo{
    margin: 25px 0 25px 0;
    text-align: center;
}

#cv-habilidades{
    width: 50%;
    text-align: center;
    justify-content: space-between;
}

#cv-habilidades img{
    width: 15%;
    padding-top: 10px;
}

#cv-description{
    display: flex;
    justify-content: space-between;
}

#cv-para{
    margin: 50px;
    width: 100%;
}



/* @media (max-width: 477px) {
    .contenedor {
        width: auto;
        flex-direction: column;
    }
    #about img {
        width: 100%;
    }
    #about{
        flex-direction: column;
    }
    #conocimientos{
        text-align: center;
    }
    #conocimientos ul {
        flex-direction: column;
    }
}  */